extends layout

block content
  form(method='POST' action='')
    div.form-group
      label(for='name') Nom:
      input#name.form-control(type='text' name='name' required='true' value=(undefined === item ? '' : item.name) )
    button.btn.btn-primary(type='submit') Valider

