extends layout

block content
  div.grid-container
    each product in products
      div.grid-item
        a.item-title(href="/products/" + product._id) #{product.name}
        div #{product.price} €
    else
      p Ce rayon est vide
  hr
  p
    a.inline-10(href='/categories/' + categoryId._id + '/delete') Supprimer le rayon
    a.inline-10(href='/categories/' + categoryId._id + '/update') Modifier le rayon
