extends layout

block content
    div.grid-container
        div Prix : #{product.price} €
        br
        br
        div Description : #{product.description}
    hr
    p
        a.inline-10(href='/products/' + product._id + '/delete') Supprimer le produit
        a.inline-10(href='/products/' + product._id + '/update') Modifier le produit
